server:
  port: 10100                              #云平台端口，改用独立tomcat后，该配置无效
  servlet:
    context-path: /
platform:
  id: bendi                               #平台对应的唯一的标识码，影响文件存储和平台划分
  name: 本地移动考勤云服务平台             #平台名称
  socketPort: 9204                       #实名制socket连接端口
  socketServer: 157.122.146.230           #实名制socket连接地址
  cmd:
    attendance: 825                        #考勤数据提交指令，825：不带考勤地点和图片，842：带考勤地点和图片
spring:
  jmx:
    default-domain: bendi
  application:
    name: bendi
  datasource:
    dbType: mysql
    driver-class-name: com.mysql.cj.jdbc.Driver #下面这行是配置数据库，这里一定要检查
    url: jdbc:mysql://localhost:3306/jane_learn?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT&userSSL=true
    username: root
    password: root